/* 2018-06-20T18:23:57-05:00 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
	/*
	*	$NOTES
	*	$VARS
	*		$Colors
	*		$Sizes
	*		$Assets
	*	$MAIN
	*		$Shared							- rules that select from multiple areas
	*		$Misc								- rules that do not fit into any of the other categories
	*			$GrabBar					- grab bar and min/max/close buttons
	*		$Guilds							- Server select sidebar (furthest left)
	*		$Channels						- Server channel select sidebar (next left)
	*			$Header						- dropdown for server settings
	*			$ChannelScroller	-
	*			$Footer						- footer for user settings & voice buttons
	*		$Chat
	*			$Title						- Header that contains the channel title
	*			$Messages					- main area containing messages
	*			$TextBox					- where user types text
	*			$Members				- sidebar list of members in a channel (furthest right)
	*/

/*------------------------------------*\
		$NOTES
\*------------------------------------*/
	/**
	 *
	 *#2f3136
	 *#7289da;
	 *
	 * Some examples of how discord default does pallets
	 * background-color:	#f04747;
	 * background-color:	#d84040
	 * background-color:	#c03939
	 * border-color:			rgba(240,71,71,.3);
	 * border-color:			rgba(240,71,71,.6)
	 * background-color:	rgba(240,71,71,.1);
	 * background-color:	#009edc
	 * background-color:	#008dc3
	 * background-color:	#7289da;
	 * background-color:	#f2f2f2;
	 */

	/**
	 * General window layout:
	 *
	 * 1. Grab Bar				|	1	|	grab			|	bg-highlight
	 * 2. Server Bar			|	4	|	serv			|	bg-dark2-alt
	 * 3. Chat						|	2	|	chat,head	|	bg-primary
	 * 	3.1 Header				|	5	|	chat,head	|	bg-dark2
	 * 	3.2 Channels Bar	|	3	|	chan			|	bg-dark1
	 * 	3.3 Members Bar		|	3	|	memb			|	bg-dark1
	 * 	3.4 Chat Box			|	3	|	box				|	bg-dark1-alt
	 *
	 * -----------------------------------------|
	 * | 1                                      |
	 * -----------------------------------------|
	 * | 2 | 3.1                                |
	 * |   |------------------------------------|
	 * |   | 3.2 | 3                      | 3.3 |
	 * |   |     |                        |     |
	 * |   |     |                        |     |
	 * |   |     |                        |     |
	 * |   |     |                        |     |
	 * |   |     |                        |     |
	 * |   |     |                        |     |
	 * |   |------------------------------|     |
	 * |   | 3.4                          |     |
	 * ------------------------------------------
	 */

/*------------------------------------*\
		$VARS
\*------------------------------------*/
	/*------------------*\
			$Colors
			Eigengrau - the color of the absence of light
				#16161d;
				hsl(240, 14%, 10%);
				hsv(240, 24%, 11%);
				rgb(21, 21, 28);

	\*------------------*/
		:root {

			--bg-grab-bar:			var(--bg-highlight);
			--bg-guilds-bar:		var(--bg-server-bar);
			--bg-chat:					var(--bg-primary);
			--bg-header:				var(--bg-dark2);
			--bg-channels-bar:	var(--bg-dark1);
			--bg-members-bar:		var(--bg-dark1);
			--bg-chat-box:			var(--bg-dark1-alt);
			--bg-search-bar: 		var(--light1-2);
			--bg-code:					hsl(120, 14%, 10%);

			--light1-6:    rgba(108, 108, 130, 0.6);
			--light1-2:    rgba(108, 108, 130, 0.2);

			--bg-primary:		hsl(240, 14%, 10%); /* Eigengrau */
			--bg-dark1:			hsl(240, 14%, 9%);
			--bg-dark1-alt:	hsl(240, 18%, 9%);
			--bg-dark2:			hsl(240, 14%, 7%);
			--bg-dark2-alt: hsl(240, 22%, 7%);
			--bg-highlight:	hsl(240, 14%, 20%);

			/*
				These colors aren't used as backgrounds, but for things like borders
					or separators

		 		Icons:
		 			#fff5
					#999999
		 			#fff .3 opacity
		 	*/
		 	--bg-guild-icon:hsla(0,0%,100%,.04);
		  --border: 		hsla(0,0%,100%,.04);
			--highlight: 	;
			--separator: 	#999999;

			--purple:	#8874ED;
			--blue:		#46CEDF;
			--green:	#85CE48;
			--yellow:	#FFC83F;
			--orange:	#FC961F;
			--red:		#FF395A;

			/* Colors used for things like status, or notifications. */
			--notif:  var(--orange);
			--accent: var(--blue);

			--notif-6: rgba(252, 150, 33, 0.6); /* #FD971F 60% opacity*/
		}
	/*------------------*\
			$Sizes
	\*------------------*/
	/**
	 * .guilds-wrapper {														*
	 * 		width:70px;
	 * "base-" {
	 * 		flex: 1 1 auto;
	 *   "spacer-" {
	 *   		min-height:1px;
	 *     	flex: 1 1 auto;
	 *   "channels-" {															*
	 *   		width: 240px;
	 *   		flex-shrink: 0;
	 *   		max-width: none;
	 *   .chat {
	 *   		flex: 1 1 0%;
	 *   		.content {
	 *   				min-height: 1px;
	 *   				flex: 1 1 0%;
	 *       		".flex-horizontal>.flex-spacer" {		*
	 * 		      		min-width: 1px;
	 * 				      flex: 1 1 0%;
	 * 				  "membersWrap-" {										*
	 * 				  		min-width:240px;
	 */

	:root {
			/* chat area "flex-horizontal>.flex-spacer" */
			/* membersWrap			min-width: 	240px; */
			/* channels 				width: 			240px; */
			/* "guilds-wrapper" width: 			70px; */
			/* --content-min-width:  750px; */
			--textbox-height: 		42px;
			--guild-width:    		52px;
			--grab-bar-height:    6px;
			--channel-width: 			240px;  /* default */
			/* --members-min-width: 240px;  *//* default */
		}
	/*------------------*\
			$Assets
	\*------------------*/
		:root{
			/*--nsfw-image:   url("https://i.alexflipnote.xyz/c2472b.png");*/

			/*move titlebar down and to the right*/
			--i-rtl-invert: 0%;
			--i-rtl-closeimg:    url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-close.svg);
			--i-rtl-maximizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-maximize.svg);
			--i-rtl-minimizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-minimize.svg);
		}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

	/* loading screen */
	div[class*="container-"]
 {
		background: var(--bg-header);
	}
	/*------------------*\
	    $Shared
	\*------------------*/

	/* Shadows */

	/* box shadow for all headers */
	.private-channels .search-bar,
	#app-mount div[class*='headerBar-'],
	#app-mount div[class*='titleBar-'],
	div[class*="titleWrapper-"] div[class*="title-"],
	div[class*="channels-"] header{
		background: var(--bg-header);
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 3px 0 rgba(0, 0, 0, 0.06);
	}

	/* same for the textbar and user settings at the bottom */
	div[class*="channels-"] > div[class*="container-"],
	.chat .content form {
		margin: 0;
		height: var(--textbox-height);

		border: 0;
		border-top: 1px solid var(--border);

		box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2), 0 -3px 0 rgba(0, 0, 0, 0.06);
		z-index: 2;
	}

	/* footer color */
	div[class*="channels-"] > div[class*="container-"]:not(:first-child),
	.chat .content form {
		background: var(--bg-chat-box);
	}

	/* and for the server, channel, */
	.guilds-wrapper,
	div[class*="channels-"] {
		box-shadow: 2px 0 0 rgba(0, 0, 0, 0.2), 3px 0 0 rgba(0, 0, 0, 0.06);
	}

	div[class*="channels-"] {
		z-index: 2;
	}
	/* and member sidebars */
	.guilds-wrapper{
		z-index: 3;
	}
	div[class*="membersWrap-"] div[class*="scrollerWrap-"] {
		z-index: 3;
		box-shadow: -2px 0 0 rgba(0, 0, 0, 0.2), 0 -3px 0 rgba(0, 0, 0, 0.06);
	}

	/* number of unread messages */
	.badge, /* server notification */
	div[class*="iconSpacing-"] div[class*="wrapper-"] { /* channel notification */
		background: var(--notif-6);
	}

	/*------------------*\
	    $Misc
	\*------------------*/
	.theme-dark 	div[class*="typing-"]:not([class*="status-"]){
		width: auto;
		background: hsla(0, 0%, 0%, 0.4);
		bottom: var(--textbox-height);
	}

	/* Markup */
	.theme-dark .message-group .comment .markup pre,
	.theme-dark .message-group .comment .markup pre code {
		background: var(--bg-code);
		border-color: hsla(0,0%,0%,0.2%);
	}
	/* User Popup */
	.theme-dark div[class*="body-"]{
		background: var(--bg-chat);
	}

	.theme-dark div[class*="activityUserPopout-"] {
		background: hsla(0, 0%, 0%, 0.2);
	}

	.theme-dark div[class*="activityProfile-"] div[class*="body-"],
	.theme-dark div[class*="activityUserPopout-"] div[class*="body-"]{
		background: transparent;
	}

	.theme-dark div[class*="topSectionNormal-"]{
		background: var(--bg-dark1);
	}

	/* status colors */
	.status-idle,
	div[class*="statusIdle-"]{
		background: var(--yellow);
		box-shadow: 0 0 0 transparent;
	}

	.status-online,
	div[class*="statusOnline-"]{
		background: var(--green);
		box-shadow: 0 0 0 transparent;
	}

	.status-dnd,
	div[class*="statusDnd-"]{
		background: var(--red);
		box-shadow: 0 0 0 transparent;
	}

	/* User Mute/Deafen Button */
	div[class*='channels-'] > div[class*='container'] div[class*='flex-'] button[style*='896770bf2d6ed0358ed0adefdbe96a24'],
	div[class*='channels-'] > div[class*='container'] div[class*='flex-'] button[style*='c8845c514bbf3f1e5bea064c1e40b08d'] {
		background-color: var(--red);
	}

	/* red buttons */
	button[class*='actionRed'] {
		background-color: var(--red);
	}

	/* user settings */
	.theme-dark .ui-standard-sidebar-view .content-region {
		background: var(--bg-chat);
	}

	.theme-dark .ui-standard-sidebar-view .sidebar-region {
		background: var(--bg-dark1);
	}

	/* Emojis */

			/* emoji-picker */
			div[class*="emojiPicker-"] .search-bar.search-bar-light .search-bar-inner,
			div[class*="emojiPicker-"] .search-bar-inner{
				background: var(--bg-search-bar);
				color: white;
			}

			div[class*="emojiPicker-"] div[class*="stickyHeader-"] {
				background: transparent;
			}

			div[class*="emojiPicker-"] .search-bar.search-bar-light	,
			div[class*="emojiPicker-"]{
				background: var(--bg-dark2-alt);
			}

			.popoutTopRight-3BzFIE {
				/* right: 0; */
				/* max-width: 30%; */
				/* width: 	40vw; */
				/* width: fit-content; */
			}
			.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA>.spriteItem-2AFL7r,
			div[class*="spriteItem-"]{
				/* margin:  auto; */
			}
			.emojiPicker-3m1S-j{
				width: fit-content;
			}

			/* snippit */
			.emojiPicker-3m1S-j .scroller-3vODG7 {
				height: 40vw;
				width: 	10%;
				padding: 0 8px;
			}

			.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA {
				width: 3rem;
				height: 3rem;
			}

			.emojiPicker-3m1S-j .scroller-3vODG7 .row-3j9Kuo {
				min-height: 3.35rem;
			}

			.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
				background-color: transparent;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				vertical-align: top;
			}


	.emoji {
		width: 2rem;
		height: 2rem;
	}

	.emoji.jumboable {
		width: 3rem;
		height: 3rem;
	}

	.reaction .emoji {
		filter: none;

		width: 1.8rem;
		height: 1.8rem;
	}

	div[class*="base-"]{
		border: 0;
		border-radius: 0;
	}

		/* private channels Search bar color */
		.search-bar .search-bar-inner input {
			text-align: center;
			height: 100%;
		}
		.search-bar .search-bar-inner {
			padding: 2px 8px;
			height: 22px;
			background: var(--bg-search-bar);
		}

		/* private channels friends button */
		.private-channels .channel.selected a {
			background: var(--bg-primary);
		}

		/* $GrabBar */
		/* move the bar buttons to the top-right */
		#app-mount div[class*='titleBar-'] {
			align-items: center;

			position:	 absolute;
			top:			 0px;
			right:		 0px;

			width:	 90px;
			height:	 48px;

			margin:	 0px;
			padding: 0px;

			-webkit-app-region: no-drag;
		}

		#app-mount div[class*='titleBar-']::before {
		    -webkit-app-region: drag;
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    display: block;
		    width: 100vw;
		    height: var(--grab-bar-height);
		    content: " "; /* we need a space to have something to grab */
		    background-color: var(--bg-grab-bar);
		    margin: 0px;
		    padding: 0px;
		    border-bottom: 1px solid rgb(71, 74, 79);
		    z-index: 3000;
		}

		div[class*="titleBar-"] div[class*="wordmark-"],
		div[class*="titleBar-"] div[class*="winButton-"] svg {
			display: none;
		}

		div[class*="titleBar-"] div[class*="winButton-"] {
			filter: invert(0%);

			position: relative;
			top: 0;

			display: block;

			width:  24px;
			height: 24px;
			margin: 0 2px;

			opacity: 0.6;
			background-color:    transparent;
			background-repeat:   no-repeat;
			background-position: center;
			background-size:     24px;
		}

		div[class*="titleBar-"] div[class*="winButton-"]:hover {
			opacity: 0.8;
		}

		div[class*="titleBar-"] div:nth-of-type(2) {
			background-image: var(--i-rtl-closeimg);
		}

		div[class*="titleBar-"] div:nth-of-type(3) {
			background-image: var(--i-rtl-maximizeimg);
		}

		div[class*="titleBar-"] div:nth-of-type(4) {
			background-image: var(--i-rtl-minimizeimg);
		}

	/*------------------*\
	    $Guilds
	    .guilds-wrapper
	\*------------------*/
		.guilds-wrapper .guilds {
			padding-top: calc(10px + var(--grab-bar-height));
		}

		/* separator between PMs and servers */
		.guilds-wrapper .guild-separator::after{
			left: 0;
			width: calc(100% - 20px);
			background: var(--light1-6); /* replace with --separator */
			height: 1px;
		}

		.guilds-wrapper .scroller-wrap,
		.guilds-wrapper {
			width: var(--guild-width);
			background: var(--bg-guilds-bar);
		}

		/* remove scrollbar */
		.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar,
		.guilds-wrapper .scroller-wrap .scroller::-webkit-scrollbar{
			display: none;
		}

		/* highlight bar for selected server */
		.guilds-wrapper .guilds .guild.unread::before,
		.guilds-wrapper .guilds .guild.selected::before{
			background: transparent;
			border-radius: 0;
			height: 100%;
			margin-top: -50%;
			width: 3px;
			left: -9px; /* .guilds.scroller has left padding of 10px */
									/* remvoing 1 pixel to prevent overflow */
		}

		.guilds-wrapper .guilds .guild.unread::before,
		.guilds-wrapper .guilds .guild.selected.unread::before {
			background: var(--notif);
		}

		.guilds-wrapper .guilds .guild.selected::before {
			background: var(--accent);
			width: 2px;
		}



		/* Icon Sizes */
		/*------------*/

		/* resize icons to fit better in slimmer sidebar */
		.guilds-wrapper .guilds .guild,
		.guilds-wrapper .guilds .guild-error,
		.guilds-wrapper .guilds .guild-icon,
		.guilds-wrapper .guilds .friends-icon,
		.guilds-wrapper .guild.guilds-add,
		.guilds-wrapper .guilds .guild .guild-inner a{
			width:  30px;
			height: 30px;

			background-size: 30px 30px;
			line-height: 30px;
		}

		/* resize text for servers that don't have icons */
		.guilds-wrapper .guilds .guild .guild-inner a	{
			font-size: 9px !important;
		}

		/* set background for servers that don't have icons */
		.guilds-wrapper .guilds .guild .guild-inner {
			background: var(--bg-guild-icon) !important;
		}

		/* replace the 'friends' button with something nicer */
		.guilds-wrapper .guilds .friends-icon {
			background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_forum_white_24px.svg');
			background-size: 15px 15px;
		}

		/* remove the number of friends online? */
		.friends-online {
			display: none;
		}

		/* unread mentions */
		div[class*="unread-mentions-"][class*="active-"],
		.chat .new-messages-bar {
			background-color: var(--notif-6);
		}

	/*------------------*\
	    $Channels
	\*------------------*/


		div[class*="channels-"],
		.private-channels{
			max-width: var(--channel-width);
			font-size: 14px;
			background-color: var(--bg-channels-bar);
		}

		/* handled in rule:
		**	div[class*="channels-"] > div[class*="container-"]
		*/
		div[class*="messages-"] div[class*="container-"],
		div[class*="channels-"] div[class*="container-"],
		.private-channels .channel {
			background-color: var(--bg-channels-bar);
			margin-bottom: 0;
		}

		/* $Header */
		/*---------*/

		/* $ChannelScroller */
		/*------------------*/

		/* some box near the top that blocks part of the scroller */
		div[class*="channels-"] div[class*="unreadTop-"],
		div[class*="channels-"] div[class*="unreadBottom-"] {
			background: transparent;
		}

		/* change the size for channel section headers & make them all caps */
		div[class*="nameDefault-"],
		div[class*="nameHovered-"],
		div[class*="nameMuted-"],
		div[class*="nameCollapsed"],
		div[class*="nameHoveredCollapsed"] {
			font-size:			1.1em;
			text-transform:	uppercase;
		}

		/* voice channel user names should not be changed */
		div[class*="userDefault-"] div[class*="nameDefault-"] {
			font-size:			inherit;
			text-transform: inherit;
		}

		/* channel sidebars */

		div[class*='containerDefault-'] div[class*='content-']{
			position: absolute;

			height: 100%;
			width: 100%;
			margin-left: 0;
			padding-left: 15px;

			border-radius: 0;
		}

		/* unread channel highlight */
		div[class*='wrapperHoveredText-'] div[class*='unread-'],
		div[class*='wrapperUnreadText-'] div[class*='unread-']{
			background: transparent;
			height: 100%;
			top: 0;
			border-left: 4px solid var(--notif);
			border-radius: 0;
			z-index: 1;
			margin: 0;
		}

		/* currently selected channel */
		div[class*='contentSelectedText-'] {
			border-left: 2px solid var(--accent);
		}

		/* $Footer */
		/*---------*/

	/*------------------*\
			$Chat
			.chat
	\*------------------*/

		/* $Title                           */
		/* .chat div[class*='titleWrapper'] */
		/*----------------------------------*/
			#app-mount div[class*='titlebar-'],
			div[class*="titleWrapper-"] div[class*="title-"] {
			    /* background: var(--dark1); */
			}

			div[class*="titleWrapper-"] div[class*="title-"] {
				flex: 1 0 100% !important;
				margin-right: 90px;
			}

		/* $Messages */
		/*-----------*/
			#friends .friends-table, /* PM window */
			.chat .content .flex-spacer .messages-wrapper {
				background-color: var(--bg-chat);
				min-width: var(--content-min-width);
			}
			.scroller-wrap .scroller::-webkit-scrollbar {
				/* display: flex; */
				width: 4px;
			}

			#friends .friends-table {
				margin: 0;
			}

			.chat .messages {
				background: var(--bg-header);
			}

			/* Scrollbar */
			/*-----------*/
			.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar {
				width: 6px;
			}
			.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
				background-color: transparent;
				border:0;
			}
			.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
				background-color: rgba(0, 0, 0, 0.23);
				border:0;
			}

			.theme-dark .messages-wrapper .messages .divider::before,
			.theme-dark .messages-wrapper .messages .divider span{
				background: transparent;
			}

			/* the ---- NEW MESSGES --- color */
			.theme-dark .messages-wrapper .messages .divider.divider-red span{
				color: var(--notif);
				background-color: var(--bg-chat);
			}

			.theme-dark .messages-wrapper .messages .divider.divider-red div{
				background-color: var(--notif);
			}

		/* $TextBox */
		/*----------*/

			div[class*='chat-'] div[class*='content-'] form{
				margin: 0;
			}
			div[class*='chat-'] div[class*='content-'] form::before{
				height: calc(100% - 10px);
				width: 1px;
				background: var(--light1-2);
				margin: 5px 0;
				content: " ";
			}

			div[class*='chat-'] div[class*='content-'] form div[class*='channelTextArea-']{
				height: var(--textbox-height);
				margin: 0;
				padding: 0;
			}

			div[class*='chat-'] div[class*='content-'] form div[class*="inner-"] {
				border-radius: 0;
				margin-left: -1px; /* hide weird bg underneath? */
				width: calc(100% + 2px);
				background-color: var(--bg-chat-box);
			}

		/* $Members                                  */
		/* .chat .content div[class*='membersWrap-'] */
		/*-------------------------------------------*/
		div[class*="membersWrap"]{
			z-index: 2;
		}
		div[class*='membersWrap-'] div[class*='members-'] {
			background-color: var(--bg-members-bar);
		}


	/**
	 * channels-
	 * 		flex-shrink:1;
	 * content .flex-horizontal>.flex-spacer {
	 * 		min-width: var(--chat-min-width)
	 * 		flex: 1 1 var(--chat-min-width)
	 * "membersWrap-" {
	 * 		min-width: ~70px?
	 * 		flex: 1 1 0%;
	 */
	/**
	 * do queries.
	 * if width is big enough, do normal
	 * otherwise, start hiding stuff
	 */

	 /* @media all and (max-width:  10000px){ */
	 @media all and (max-width:  1100px){
	 		.flex-horizontal>.flex-spacer,
	 		.theme-dark .chat {
				flex: 1 1 100%;
			}
			div[class*='channels-'],
			div[class*="membersWrap"],
	 		div[class*="membersWrap"] div[class*="scrollerWrap-"]{
	 			max-width: 240px;
	 			transition: flex-basis 0.5s 0.8s;
				flex: 1 0 0%;
			}

			div[class*='channels-'] {
	 			min-width: 140px;
	 		}

	 		div[class*="membersWrap"],
	 		div[class*="membersWrap"] div[class*="scrollerWrap-"] {
				min-width: 64px;
			}

			div[class*='channels-']:hover,
			div[class*="membersWrap"]:hover,
	 		div[class*="membersWrap"] div[class*="scrollerWrap-"]:hover{
	 			max-width: 240px;
	 			flex: 1 1 50%;
	 		}
	 }

	 /* @media all and (max-width:  10000px){ */
/* 	 @media all and (max-width:  11000px){
	 		.flex-horizontal>.flex-spacer {
				flex: 1 0 92%;
			}

			div[class*="membersWrap"]{
	 			transition: transform 0.5s 0.5s;
	 			transform: translateX(0);
			}

	 		div[class*="membersWrap"] div[class*="scrollerWrap-"]{
	 			min-width: 240px;
				flex: 1 0 240px;
			}

			div[class*="membersWrap"]:hover{
				transform: translateX(-240px);

			}
	 } */

	 div[class*="modal-"] div[class*="inner-"] {
	 	background: var(--bg-chat);
	 	border: none;
	 	box-shadow: none;
	 }
	 div[class*="modal-"] div[class*="inner-"] div[class*="footer-"] {
	 	background: var(--bg-dark2);
	 	border: none;
	 	box-shadow: none;
	 }